name: Build

on: push

jobs:
    build:
        runs-on: ubuntu-latest
        env:
            ### Database
            AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
            AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
            TERRAFORM_VERSION: ${{ secrets.TERRAFORM_VERSION }}
        steps:
            - name: Checkout
              uses: actions/checkout@v2
            - name: Build
              run: make
            - name: Run Terraform Version
              run: docker-compose run --rm terra terraform -v
